<h1>Places to Ruck</h1>

<% @locations.each do |place| %>
  <div>
    <%= link_to place.name, place %>
    <img src="<%= place.pic_url %>" style="height:100px;"/>
    <%= place.snippet %>
  </div>
<% end %>
