<h1>send a message</h1> 

<%= form_for :number_to_send_to do |f| %>
  <%= f.label :number_to_send_to, 'Number to Send to' %>:
  <%= f.text_field :number_to_send_to %><br />
  <%= f.submit %>
<% end %>